*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans Unicode';
}
main{
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 5px 10px -1px grey;
}

input{
    width: 60%;
    margin: 0.2rem 0 1rem;
    border-radius: 0.2rem;
    border: 1px solid grey;
    letter-spacing: 0.2rem;
    outline: none;
    padding: 1rem 0.5rem;
    box-shadow: 0px 4px 10px -2px grey;
}
.error{
    border-color: red;
}

label{
    font-size: large;
    color: #1f2929;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
button{
    margin:0.5rem 0 1rem;
    padding: 0.2rem 1rem;
    font-family: 'Lucida Sans Unicode';
    font-size: medium;
    border: 1px solid grey;
    border-radius: 0.2rem;
    outline: none;
    background: #ffffff;
    box-shadow: 4px 4px 3px -2px grey;
}
button:focus{
    box-shadow: inset 4px 4px 3px -2px grey;
}